# Created by Matt, Brett, Sydney, Ryan
# Spring 2016
# git ignore file used to help with project implementations.

# Ignores all of these files
#BUILD
**/build/**
#DEBUG
**/debug/**
#DIST	
**/dist/**
#NBPROJECT
**/nbproject/**/*.xml
**/nbproject/**/*.mk
**/nbproject/**/*.properties
**/nbproject/**/*.bash
#MAKEFILE
Makefile